<div style="PADDING-RIGHT: 20px; PADDING-LEFT: 20px; PADDING-BOTTOM: 20px; MARGIN: 10px; COLOR: #041347; PADDING-TOP: 20px">
    <font style="FONT-SIZE: 12pt" face="Georgia">
        <div style="PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 5px; COLOR: #041347; PADDING-TOP: 5px; TEXT-ALIGN: center">
            <center><strong> <font style="FONT-SIZE: 13pt" color="#b01717"> <a name="textTop"> </a>
                <center><strong> <font style="FONT-SIZE: 15pt" color="#b01717">ВИКОНАННЯ ТА ЗАХИСТ<br/>ВИПУСКНИХ
                    КВАЛІФІКАЦІЙНИХ РОБІТ</font> </strong></center>
            </font> </strong></center>
        </div>
        <style type="text/css">            .tdi2 {
            width: 90pt;
            border-top: 1px solid windowtext;
            border-right: 1px solid windowtext;
            border-bottom: 1px solid windowtext;
            border-left: 1px solid windowtext;
            background: #D8E5FC;
            font-weight: 400;
            text-align: center;
        }

        .tdo1 {
            width: 90pt;
            border-top: 1px solid windowtext;
            border-right: 1px solid windowtext;
            border-bottom: 1px solid windowtext;
            border-left: 1px solid windowtext;
            background: #CDD6F6;
            font-weight: 700;
            text-align: center;
        }

        .tdo2 {
            width: 180pt;
            border-top: 1pt solid windowtext;
            border-right: 1pt solid windowtext;
            border-bottom: 1pt solid windowtext;
            border-left: 1pt solid windowtext;
            background: #CDD6F6;
            font-weight: 600;
            text-align: center;
        }

        .rtab {
            border: 1px;
            border-collapse: collapse;
            table-layout: fixed;
        }        </style>
        <style type="text/css">            .divOpenClose {
            border-left: 1px solid gray;
            border-right: 1px solid gray;
            border-top: 1px solid gray;
            text-align: center;
            width: 100%;
            height: 18px;
            background-color: #CED7E3;
            cursor: pointer;
        }

        .OpenClose {
            text-decoration: none;
            cursor: pointer;
            text-align: center;
            vertical-align: middle;
            FONT-WEIGHT: bold;
            FONT-SIZE: 10pt;
            FONT-FAMILY: fantasy;
            COLOR: #b01717;
            background-color: #CED7E3;
            width: 100%;
            height: 100%;
            padding: -5px;
        }

        .OpenClose:hover {
            text-decoration: none;
            cursor: pointer;
            text-align: center;
            vertical-align: middle;
            FONT-WEIGHT: bold;
            FONT-SIZE: 10pt;
            FONT-FAMILY: fantasy;
            COLOR: #b01717;
            background-color: #E1DDC1;
            width: 100%;
            height: 100%;
        }

        .divTxtShown {
            border: 1px solid gray;
            width: 100%;
            display: block;
            left: 20px;
            right: 20px;
        }

        .divTxtHidden {
            border: 1px solid gray;
            width: 100%;
            display: none;
        }        </style>
        <script language="javascript" type="text/javascript">     function opencloseevent(id) {
            var divElementShort = document.getElementById(id + "Short");
            var divElementFull = document.getElementById(id + "Full");
            if ((divElementShort == null) || (divElementFull == null)) return;
            if (divElementShort.style.display != "none") {
                divElementShort.style.display = "none";
                divElementFull.style.display = "block";
            } else {
                divElementFull.style.display = "none";
                divElementShort.style.display = "block";
            }
        } </script>
        <br/> <a name="Bakalavr_1"> </a>
        <div id="Bakalavr_1" class="divOpenClose" onclick="opencloseevent('Bakalavr_1');"><a class="OpenClose"> <span
                style="width: 100%;">Розгорнути / Згорнути </span> </a></div>
        <div id="Bakalavr_1Short" class="divTxtShown">
            <div style="padding:20px">
                <p style="font-family:  'Times New Roman'; font-size:15px " align="center">
                    <strong>ВИМОГИ ДО ОФОРМЛЕННЯ<br/> БАКАЛАВРСЬКОЇ ДИПЛОМНОЇ РОБОТИ </strong></p>
            </div>
        </div>
        <div id="Bakalavr_1Full" class="divTxtHidden">
            <div style="padding:20px">
                <div style="padding:25px"><em>
                    <p align="right"><a href="#textTop">Нагору </a></p>
                </em></div>
                <p style="font-family:  'Times New Roman'; font-size:18px " align="center">
                    <strong>ВИМОГИ ДО ОФОРМЛЕННЯ<br/>БАКАЛАВРСЬКОЇ ДИПЛОМНОЇ РОБОТИ </strong></p>
                <p align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Вимоги до
                    обсягу БДР:</strong></p>
                <ul>
                    <li>текстова частина &ndash; 50-70 стор.</li>
                    <li>графічна частина &ndash; не менше 4 плакатів</li>
                </ul>
                <p>&nbsp;</p>
                <p align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Текстова
                    частина БДР оформлюється з дотриманням таких загальних правил:</strong></p>
                <ul>
                    <li>мова &ndash; українська</li>
                    <li>формат аркушів &ndash; А4</li>
                    <li>шрифт &ndash; Times New Roman 14 пунктів</li>
                    <li>міжрядковий інтервал &ndash; 1,5 лінії</li>
                    <li>параметри сторінки: ліве поле &ndash; 3 см, решта полів &ndash; 2 см</li>
                    <li>нумерація сторінок (крім титульної сторінки) &ndash; у правому нижньому куті</li>
                </ul>
                <p>&nbsp;</p>
                <br/> <br/>
                <p align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Документація
                    БДР включає такі елементи (наведені у порядку їх розташування у готовій зброшурованій
                    роботі):</strong></p>
                <ol>
                    <li>Титульна сторінка (див.&nbsp;<a href="http://www.fpm.kpi.ua/archive/dir.do?sys_id=obj_16729">приклад</a>)
                        <!-- - <FONT color=#b01717>оновлено</FONT> -->                     </li>
                    <li>Завдання на виконання випускної дипломної роботи (див. <a
                            href="http://www.fpm.kpi.ua/archive/dir.do?sys_id=obj_16730">приклад</a>)
                    </li>
                    <li>Анотація &ndash; українською, англійською та російською мовами (див.&nbsp;<a
                            href="http://fpm.kpi.ua/archive/dir.do?sys_id=obj_14213">приклад</a>)
                    </li>
                    <li>Зміст (див.&nbsp;<a href="http://fpm.kpi.ua/archive/dir.do?sys_id=obj_14214">приклад</a>)</li>
                    <li>Список термінів, скорочень та позначень (див.&nbsp;<a
                            href="http://fpm.kpi.ua/archive/dir.do?sys_id=obj_14215">приклад</a>)
                    </li>
                    <li>Вступ (див.&nbsp;<a href="http://fpm.kpi.ua/archive/dir.do?sys_id=obj_14216">приклад</a>)</li>
                    <li>Основна частина (див.&nbsp;<a
                            href="http://fpm.kpi.ua/archive/dir.do?sys_id=obj_14217">приклад</a>)
                    </li>
                    <li>Висновки (див.&nbsp;<a href="http://fpm.kpi.ua/archive/dir.do?sys_id=obj_14218">приклад</a>)
                    </li>
                    <li>Список використаних літературних джерел (див.&nbsp;<a
                            href="http://fpm.kpi.ua/archive/dir.do?sys_id=obj_14219">приклад</a>)
                    </li>
                    <li>Додатки (див.&nbsp;<a href="http://fpm.kpi.ua/archive/dir.do?sys_id=obj_14220">приклад</a>)</li>
                </ol>
                <p>&nbsp;</p>
                <!-- <p align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Бланки заяви про вибір теми БДР, титульної сторінки, завдання на БДР та календарного плану:</b>						<ul>				<li>для груп <a href="http://www.fpm.kpi.ua/archive/dir.do?sys_id=obj_11705">КМ-81 та КМ-82</a>				</li>				<li>для груп <a href="http://www.fpm.kpi.ua/archive/dir.do?sys_id=obj_11707">КВ-81, КВ-82 та КВ-83</a>				</li>				<li>для групи <a href="http://www.fpm.kpi.ua/archive/dir.do?sys_id=obj_11706">КВ-84</a>				</li>						</ul></p>-->
                <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Приклад заповнення заяви про вибір
                    теми БДР знаходиться за цим <a
                            href="http://www.fpm.kpi.ua/archive/dir.do?sys_id=obj_16738">посиланням</a>. </p>
                <!--<p><font color="#b01717">	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Слідкуйте за оголошеннями деканату стосовно консультацій з охорони праці.</font></p>-->
                <p><font color="#b01717"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Номер та
                    дата наказу будуть відомі на початку травня 2020 р. </font></p>
                <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>Рекомендована
                    література:</strong></p>
                <ol>
                    <li><a href="http://www.fpm.kpi.ua/archive/dir.do?sys_id=obj_11728"> Дипломне проектування за
                        напрямами підготовки &rdquo;Прикладна математика&rdquo;, &bdquo;Комп&rsquo;ютерна інженерія&rdquo;,
                        &bdquo;Програмна інженерія&rdquo; [Текст] : навч.-метод. посіб. / Є.С. Сулема : за заг. ред.
                        І.А. Дички &mdash; К. : НТУУ &laquo;КПІ&raquo;, 2011. &mdash; 224 с. &ndash; Бібліогр. : с. 77
                        &mdash; 400 пр. </a></li>
                    <li> Положення про організацію дипломного проектування та державну атестацію студентів НТУУ &ldquo;КПІ&rdquo;
                        [Текст] / уклад. В.Ю. Угольніков ; за заг. ред. Ю.І. Якименка. &mdash; К. : ВПК &quot;Політехніка&quot;,
                        2006. &mdash; 84 с.
                    </li>
                    <li> Положення про організацію навчального процесу в НТУУ &ldquo;КПІ&rdquo; [Текст] / уклад. Г.Б.
                        Варламов, В.П. Головенкін, В.І. Тимофєєв, В.І. Шеховцов ; за заг. ред. Ю.І. Якименка. &mdash; К.
                        : ІВЦ &laquo;Видавництво &quot;Політехніка&quot;&raquo;, 2004. &mdash; 72 с.
                    </li>
                    <li> Документація. Звіти у сфері науки і техніки. Структура і правила оформлення : ДСТУ 3008-95
                        [Текст]. &mdash; К. : Держстандарт України, 1998.
                    </li>
                    <li> Бібліографічний запис. Бібліографічний опис. Загальні вимоги та правила складання [Текст] :
                        (ГОСТ 7.1&mdash;2003, IDT) : ДСТУ ГОСТ 7.1:2006. &mdash; Чинний з 2007&mdash;07&mdash;01.
                        &mdash; К. : Держспоживстандарт України, 2007. &mdash; ІІІ, 47 с. ; 29 см. &mdash; (Система
                        стандартів з інформації, бібліографічної і видавничої справи ; Національний стандарт України).
                    </li>
                </ol>
                <p>&nbsp;</p>
                <div style="padding:25px">
                    <p align="right"><em> <a href="#textTop">Нагору </a> </em></p>
                </div>
            </div>
        </div>
        <br/> <a name="Bakalavr_2"> </a>
        <div id="Bakalavr_2" class="divOpenClose" onclick="opencloseevent('Bakalavr_2');"><a class="OpenClose"> <span
                style=" width:100% ">Розгорнути / Згорнути </span> </a></div>
        <div id="Bakalavr_2Short" class="divTxtShown">
            <div style="padding:20px">
                <p style="font-family: 'Times New Roman'; font-size:15px " align="center">
                    <strong>ВИМОГИ ДО ОФОРМЛЕННЯ<br/> БАКАЛАВРСЬКОГО ДИПЛОМНОГО ПРОЕКТУ<br/>(програмна розробка)
                    </strong></p>
            </div>
        </div>
        <div id="Bakalavr_2Full" class="divTxtHidden">
            <div style="padding:20px">
                <div style="padding:25px"><em>
                    <p align="right"><a href="#textTop">Нагору </a></p>
                </em></div>
                <p style="font-family: 'Times New Roman'; font-size:18px " align="center">
                    <strong>ВИМОГИ ДО ОФОРМЛЕННЯ<br/>БАКАЛАВРСЬКОГО ДИПЛОМНОГО ПРОЕКТУ<br/>(програмна розробка)
                    </strong></p>
                <p align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Вимоги до
                    обсягу БДП:</strong></p>
                <ul>
                    <li>текстова частина &ndash; 50-70 стор.</li>
                    <li>графічна частина &ndash; не менше 2 креслень та 2 плакатів</li>
                </ul>
                <p>&nbsp;</p>
                <p align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Текстова
                    частина БДП оформлюється з дотриманням таких загальних правил:</strong></p>
                <ul>
                    <li>мова &ndash; українська</li>
                    <li>формат аркушів &ndash; А4</li>
                    <li>шрифт &ndash; Times New Roman 14 пунктів</li>
                    <li>міжрядковий інтервал &ndash; 1,5 лінії</li>
                    <li>параметри сторінки: ліве поле &ndash; 3 см, решта полів &ndash; 2 см</li>
                    <li>нумерація сторінок (крім титульної сторінки) &ndash; у правому нижньому куті</li>
                </ul>
                <p>&nbsp;</p>
                <br/> <br/>
                <p align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Документація
                    БДП включає такі елементи (наведені у порядку їх розташування у готовій зброшурованій
                    роботі):</strong></p>
                <ol>
                    <li>Титульна сторінка (див.&nbsp;<a
                            href="http://www.fpm.kpi.ua/archive/dir.do?sys_id=obj_16539">приклад</a>)
                        <!-- - <FONT color=#b01717>оновлено</FONT> -->                     </li>
                    <li>Завдання на дипломне проектування (див. <a href="http://www.fpm.kpi.ua/archive/dir.do?sys_id=obj_16732">приклад</a>)
                    </li>
                    <li>Анотація &ndash; українською, англійською та російською мовами (див.&nbsp;<a
                            href="http://fpm.kpi.ua/archive/dir.do?sys_id=obj_14202">приклад</a>)
                    </li>
                    <li>Відомість проекту (див.&nbsp;<a
                            href="http://fpm.kpi.ua/archive/dir.do?sys_id=obj_14691">приклад</a>)
                    </li>
                    <li>Технічне завдання (див.&nbsp;<a
                            href="http://www.fpm.kpi.ua/archive/dir.do?sys_id=obj_16733">приклад</a>)
                    </li>
                    <li>Пояснювальна записка (див.&nbsp;<a href="http://www.fpm.kpi.ua/archive/dir.do?sys_id=obj_16734">приклад</a>)
                    </li>
                    <li>Програма та методика тестування (див.&nbsp;<a
                            href="http://www.fpm.kpi.ua/archive/dir.do?sys_id=obj_16735">приклад</a>)
                    </li>
                    <li>Керівництво користувача (див.&nbsp;<a href="http://www.fpm.kpi.ua/archive/dir.do?sys_id=obj_16736">приклад</a>)
                    </li>
                    <li>Керівництво системного програміста &ndash; якщо передбачено ТЗ</li>
                    <li>Керівництво програміста &ndash; якщо передбачено ТЗ</li>
                    <li>Опис мови &ndash; якщо передбачено ТЗ</li>
                    <li>Список використаних літературних джерел</li>
                    <li>Додатки (див.&nbsp;<a href="http://fpm.kpi.ua/archive/dir.do?sys_id=obj_13992">приклад</a>)</li>
                </ol>
                <p>&nbsp;</p>
                <!-- <p align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Бланки заяви про вибір теми БДП, титульної сторінки, завдання на БДП та календарного плану:</b>						<ul>				<li>для груп <a href="http://www.fpm.kpi.ua/archive/dir.do?sys_id=obj_11690">КМ-81 та КМ-82</a>				</li>				<li>для груп <a href="http://www.fpm.kpi.ua/archive/dir.do?sys_id=obj_11692">КВ-81, КВ-82 та КВ-83</a>				</li>				<li>для групи <a href="http://www.fpm.kpi.ua/archive/dir.do?sys_id=obj_11691">КВ-84</a>				</li>						</ul></p>-->
                <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Приклад заповнення заяви про вибір
                    теми БДП знаходиться за цим <a
                            href="http://www.fpm.kpi.ua/archive/dir.do?sys_id=obj_16737">посиланням</a>. </p>
                <!--<p><font color="#b01717">	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Слідкуйте за оголошеннями деканату стосовно консультацій з охорони праці.</font></p>-->
                <p><font color="#b01717"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Номер та
                    дата наказу будуть відомі на початку травня 2020 р. </font></p>
                <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>Рекомендована
                    література:</strong></p>
                <ol>
                    <li><a href="http://www.fpm.kpi.ua/archive/dir.do?sys_id=obj_11728"> Дипломне проектування за
                        напрямами підготовки &rdquo;Прикладна математика&rdquo;, &bdquo;Комп&rsquo;ютерна інженерія&rdquo;,
                        &bdquo;Програмна інженерія&rdquo; [Текст] : навч.-метод. посіб. / Є.С. Сулема : за заг. ред.
                        І.А. Дички &mdash; К. : НТУУ &laquo;КПІ&raquo;, 2011. &mdash; 224 с. &ndash; Бібліогр. : с. 77
                        &mdash; 400 пр. </a></li>
                    <li> Положення про організацію дипломного проектування та державну атестацію студентів НТУУ &ldquo;КПІ&rdquo;
                        [Текст] / уклад. В.Ю. Угольніков ; за заг. ред. Ю.І. Якименка. &mdash; К. : ВПК &quot;Політехніка&quot;,
                        2006. &mdash; 84 с.
                    </li>
                    <li> Положення про організацію навчального процесу в НТУУ &ldquo;КПІ&rdquo; [Текст] / уклад. Г.Б.
                        Варламов, В.П. Головенкін, В.І. Тимофєєв, В.І. Шеховцов ; за заг. ред. Ю.І. Якименка. &mdash; К.
                        : ІВЦ &laquo;Видавництво &quot;Політехніка&quot;&raquo;, 2004. &mdash; 72 с.
                    </li>
                    <li> Документація. Звіти у сфері науки і техніки. Структура і правила оформлення : ДСТУ 3008-95
                        [Текст]. &mdash; К. : Держстандарт України, 1998.
                    </li>
                    <li> Межгосударственные стандарты. Единая система программной документации [Текст]. &mdash; М. : ИПК
                        Издательство стандартов, 2001.
                    </li>
                    <li> Единая система программной документации / Л. В. Афанасенко &mdash; М. : ИПК Издательство
                        стандартов, 2001. &mdash; 164 с.
                    </li>
                    <li> Леоненков, А.В. Самоучитель UML [Текст] / А.В. Леоненков. &mdash; СПб. : БХВ, 2007. &mdash;
                        (2-е изд.). &mdash; 576 с. &mdash; ISBN 978-5-94157-878-8.
                    </li>
                    <li> Рамбо, Дж.. UML 2.0. Объектно-ориентированное моделирование и разработка [Текст] / Дж. Рамбо,
                        М. Блаха. &mdash; СПб. : Питер, 2007. &mdash; (2-е изд.). &mdash; 544 с. : ил. &mdash; ISBN
                        5-469-00814-2.
                    </li>
                    <li> Бібліографічний запис. Бібліографічний опис. Загальні вимоги та правила складання [Текст] :
                        (ГОСТ 7.1&mdash;2003, IDT) : ДСТУ ГОСТ 7.1:2006. &mdash; Чинний з 2007&mdash;07&mdash;01.
                        &mdash; К. : Держспоживстандарт України, 2007. &mdash; ІІІ, 47 с. ; 29 см. &mdash; (Система
                        стандартів з інформації, бібліографічної і видавничої справи ; Національний стандарт України).
                    </li>
                </ol>
                <p>&nbsp;</p>
                <div style="padding:25px">
                    <p align="right"><em> <a href="#textTop">Нагору </a> </em></p>
                </div>
            </div>
        </div>
        <br/> <a name="Bakalavr_3"> </a>
        <div id="Bakalavr_3" class="divOpenClose" onclick="opencloseevent('Bakalavr_3');"><a class="OpenClose"> <span
                style=" width:100% ">Розгорнути / Згорнути </span> </a></div>
        <div id="Bakalavr_3Short" class="divTxtShown">
            <div style="padding:20px">
                <p style="font-family:  'Times New Roman'; font-size:15px " align="center">
                    <strong>ВИМОГИ ДО ОФОРМЛЕННЯ<br/> БАКАЛАВРСЬКОГО ДИПЛОМНОГО ПРОЄКТУ<br/>(програмно-апаратна або
                        апаратна розробка) </strong></p>
            </div>
        </div>
        <div id="Bakalavr_3Full" class="divTxtHidden">
            <div style="padding:20px">
                <div style="padding:25px"><em>
                    <p align="right"><a href="#textTop">Нагору </a></p>
                </em></div>
                <p style="font-family:  'Times New Roman'; font-size:18px " align="center">
                    <strong>ВИМОГИ ДО ОФОРМЛЕННЯ<br/>БАКАЛАВРСЬКОГО ДИПЛОМНОГО ПРОЄКТУ<br/>(програмно-апаратна або
                        апаратна розробка) </strong></p>
                <p align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Вимоги до
                    обсягу БДП:</strong></p>
                <ul>
                    <li>текстова частина &ndash; 50-70 стор.</li>
                    <li>графічна частина &ndash; не менше 4 креслень</li>
                </ul>
                <p>&nbsp;</p>
                <p align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Текстова
                    частина БДП оформлюється з дотриманням таких загальних правил:</strong></p>
                <ul>
                    <li>мова &ndash; українська</li>
                    <li>формат аркушів &ndash; А4</li>
                    <li>шрифт &ndash; Times New Roman 14 пунктів</li>
                    <li>міжрядковий інтервал &ndash; 1,5 лінії</li>
                </ul>
                <p>&nbsp;</p>
                <p align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<em>Всі аркуші
                    пояснювальної записки дипломного проекту мають містити основний напис (так звану &laquo;рамку&raquo;
                    або &laquo;штамп&raquo;) &ndash; бланки знаходяться за цим <a
                            href="http://www.fpm.kpi.ua/archive/dir.do?sys_id=obj_11678">посиланням</a>.</em> <br/>
                    <br/></p>
                <p align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Документація
                    БДП включає такі елементи (наведені у порядку їх слідування у готовій зброшурованій
                    роботі):</strong></p>
                <ol>
                    <li>Титульна сторінка (див.&nbsp;<a
                            href="http://www.fpm.kpi.ua/archive/dir.do?sys_id=obj_16739">приклад</a>)
                        <!-- - <FONT color=#b01717>оновлено</FONT> -->                     </li>
                    <li>Завдання на дипломне проектування (див. <a
                            href="http://www.fpm.kpi.ua/archive/dir.do?sys_id=obj_16740">приклад</a>)
                    </li>
                    <li>Анотація &ndash; українською, англійською та російською мовами (див.&nbsp;<a
                            href="http://fpm.kpi.ua/archive/dir.do?sys_id=obj_14192">приклад</a>)
                    </li>
                    <li>Опис альбому (див.&nbsp;<a href="http://www.fpm.kpi.ua/archive/dir.do?sys_id=obj_16742">приклад</a>)
                    </li>
                    <li>Технічне завдання (див.&nbsp;<a
                            href="http://www.fpm.kpi.ua/archive/dir.do?sys_id=obj_16741">приклад</a>)
                    </li>
                    <li>Відомість технічного проєкту (див.&nbsp;<a
                            href="http://www.fpm.kpi.ua/archive/dir.do?sys_id=obj_16743">приклад</a>)
                    </li>
                    <li>Пояснювальна записка з додатками (див.&nbsp;<a
                            href="http://www.fpm.kpi.ua/archive/dir.do?sys_id=obj_16744">приклад</a>)
                    </li>
                </ol>
                <p>&nbsp;</p>
                <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Приклад креслення знаходиться за
                    цим <a href="http://fpm.kpi.ua/archive/dir.do?sys_id=obj_15340">посиланням</a>. </p>
                <!-- <p align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Бланки заяви про вибір теми БДП, титульної сторінки, завдання на БДП та календарного плану:</b>						<ul>				<li>для груп <a href="http://www.fpm.kpi.ua/archive/dir.do?sys_id=obj_11677">КВ-81, КВ-82 та КВ-83</a>				</li>			</ul></p>-->
                <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Приклад заповнення заяви про вибір
                    теми БДП знаходиться за цим <a
                            href="http://www.fpm.kpi.ua/archive/dir.do?sys_id=obj_16745">посиланням</a>. </p>
                <!--<p><font color="#b01717">	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Слідкуйте за оголошеннями деканату стосовно консультацій з охорони праці.</font></p>-->
                <p><font color="#b01717"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Номер та
                    дата наказу будуть відомі на початку травня 2020 р. </font></p>
                <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>Рекомендована
                    література:</strong></p>
                <ol>
                    <li><a href="http://www.fpm.kpi.ua/archive/dir.do?sys_id=obj_11728"> Дипломне проектування за
                        напрямами підготовки &rdquo;Прикладна математика&rdquo;, &bdquo;Комп&rsquo;ютерна інженерія&rdquo;,
                        &bdquo;Програмна інженерія&rdquo; [Текст] : навч.-метод. посіб. / Є.С. Сулема : за заг. ред.
                        І.А. Дички &mdash; К. : НТУУ &laquo;КПІ&raquo;, 2011. &mdash; 224 с. &ndash; Бібліогр. : с. 77
                        &mdash; 400 пр. </a></li>
                    <li> Положення про організацію дипломного проектування та державну атестацію студентів НТУУ &ldquo;КПІ&rdquo;
                        [Текст] / уклад. В.Ю. Угольніков ; за заг. ред. Ю.І. Якименка. &mdash; К. : ВПК &quot;Політехніка&quot;,
                        2006. &mdash; 84 с.
                    </li>
                    <li> Положення про організацію навчального процесу в НТУУ &ldquo;КПІ&rdquo; [Текст] / уклад. Г.Б.
                        Варламов, В.П. Головенкін, В.І. Тимофєєв, В.І. Шеховцов ; за заг. ред. Ю.І. Якименка. &mdash; К.
                        : ІВЦ &laquo;Видавництво &quot;Політехніка&quot;&raquo;, 2004. &mdash; 72 с.
                    </li>
                    <li> Межгосударственные стандарты. Единая система конструкторской документации [Текст]. &mdash; М. :
                        Стандартинформ, 2009.
                    </li>
                    <li> Борушек, С.С. Единая система конструкторской документации [Текст] / С.С. Борушек, А.А. Волков,
                        М.М. Ефимова [и др.]. &mdash; М. : изд-во стандартов, 1989. &mdash; 352 с.
                    </li>
                    <li> Усатенко, С.Т. Выполнение электрических схем по ЕСКД [Текст] / С.Т. Усатенко, Т.К. Каченюк,
                        М.В. Терехова. &mdash; М. : изд-во стандар-тов, 1989. &mdash; 325 с.
                    </li>
                    <li> Бібліографічний запис. Бібліографічний опис. Загальні вимоги та правила складання [Текст] :
                        (ГОСТ 7.1&mdash;2003, IDT) : ДСТУ ГОСТ 7.1:2006. &mdash; Чинний з 2007&mdash;07&mdash;01.
                        &mdash; К. : Держспоживстандарт України, 2007. &mdash; ІІІ, 47 с. ; 29 см. &mdash; (Система
                        стандартів з інформації, бібліографічної і видавничої справи ; Національний стандарт України).
                    </li>
                </ol>
                <p>&nbsp;</p>
                <div style="padding:25px">
                    <p align="right"><em> <a href="#textTop">Нагору </a> </em></p>
                </div>
            </div>
        </div>
        <!-- <br> <a name="Specialist_1"> </a> <div id="Specialist_1" class="divOpenClose" onClick="opencloseevent('Specialist_1');"> <a class="OpenClose" > <span style=" width:100% ">Розгорнути / Згорнути </span> </a> </div>  <div id="Specialist_1Short" class="divTxtShown"> <div style="padding:20px">            <p align="center" style="font:  'Times New Roman'; font-size:15px "> <b>ВИМОГИ ДО ОФОРМЛЕННЯ<br>ДИПЛОМНОЇ РОБОТИ СПЕЦІАЛІСТА</b> </p> </div> </div>                <div id="Specialist_1Full" class="divTxtHidden"> <div style="padding:20px">  <div style="padding:25px"><i> <p align="right"> <a href="#textTop">Нагору </a> </p>          </i> </div>             <p align="center" style="font:  'Times New Roman'; font-size:18px "> <b>ВИМОГИ ДО ОФОРМЛЕННЯ<br>ДИПЛОМНОЇ РОБОТИ СПЕЦІАЛІСТА</b> </p>			            <p align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Вимоги до обсягу ДРС:</b>						<ul>				<li>текстова частина – 80-100 стор.				</li>												<li>графічна частина – не менше 6 плакатів				</li>			</ul>									</p>            <p align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Текстова частина ДРС оформлюється з дотриманням таких загальних правил:</b>						<ul>				<li>мова – українська				</li>												<li>формат аркушів – А4				</li>												<li>шрифт – Times New Roman 14 пунктів				</li>												<li>міжрядковий інтервал – 1,5 лінії				</li>												<li>параметри сторінки: ліве поле – 3 см, решта полів – 2 см				</li>												<li>нумерація сторінок (крім титульної сторінки) – у правому нижньому куті				</li>			</ul>									</p>            <br>            <p align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Документація ДРС включає такі елементи (наведені у порядку їх розташування у готовій зброшурованій роботі): </b>						<ol>				<li>Титульна сторінка  (див.&nbsp;<a href="http://fpm.kpi.ua/archive/dir.do?sys_id=obj_15364">приклад</a>) <!-- - <FONT color=#b01717>оновлено</FONT> 				</li>												<li>Завдання на виконання випускної дипломної роботи (див. <a href="http://fpm.kpi.ua/archive/dir.do?sys_id=obj_15342">приклад</a>)				</li>												<li>Анотація – українською, англійською та російською мовами				</li>												<li>Зміст				</li>												<li>Список термінів, скорочень та позначень				</li>												<li>Вступ				</li>												<li>Основна частина				</li>												<li>Висновки				</li>												<li>Список використаних літературних джерел				</li>												<li>Додатки				</li>			</ol>									</p>			 <p align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Приклад заповнення заяви про вибір теми ДРС знаходиться за цим <a href="http://fpm.kpi.ua/archive/dir.do?sys_id=obj_15343">посиланням</a>.</p><!--<p><font color="#b01717">	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Слідкуйте за оголошеннями деканату стосовно консультацій з охорони праці.</font></p><p><font color="#b01717">	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Номер та дата наказу будуть відомі на початку листопада 2016 р.</font></p><p>	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	<b>Рекомендована література:</b>		<ol>			<li>			<a href="http://www.fpm.kpi.ua/archive/dir.do?sys_id=obj_11728">			Дипломне проектування за напрямами підготовки ”Прикладна математика”, „Комп'ютерна інженерія”, „Програмна інженерія” [Текст] : навч.-метод. посіб. / Є.С. Сулема : за заг. ред. І.А. Дички — К. : НТУУ «КПІ», 2011. — 224 с. – Бібліогр. : с. 77 — 400 пр.			</a>			</li>						<li>				Положення про організацію дипломного проектування та державну атестацію студентів НТУУ “КПІ” [Текст] / уклад. В.Ю. Угольніков ; за заг. ред. Ю.І. Якименка. — К. : ВПК "Політехніка", 2006. — 84 с.			</li>						<li>				Положення про організацію навчального процесу в НТУУ “КПІ” [Текст] / уклад. Г.Б. Варламов, В.П. Головенкін, В.І. Тимофєєв, В.І. Шеховцов ; за заг. ред. Ю.І. Якименка. — К. : ІВЦ «Видавництво "Політехніка"», 2004. — 72 с.			</li>						<li>				Документація. Звіти у сфері науки і техніки. Структура і правила оформлення : ДСТУ 3008-95 [Текст]. — К. : Держстандарт України, 1998.			</li>						<li>				Бібліографічний запис. Бібліографічний опис. Загальні вимоги та правила складання [Текст] : (ГОСТ 7.1—2003, IDT) : ДСТУ ГОСТ 7.1:2006. — Чинний з 2007—07—01. — К. : Держспоживстандарт України, 2007. — ІІІ, 47 с. ; 29 см. — (Система стандартів з інформації, бібліографічної і видавничої справи ; Національний стандарт України).			</li>					</ol>	  <div style="padding:25px"> <p align="right"> <i> <a href="#textTop">Нагору </a>                           </i>  </p>  </div>  </div> </div> 			 <br> <a name="Specialist_2"> </a> <div id="Specialist_2" class="divOpenClose" onClick="opencloseevent('Specialist_2');"> <a class="OpenClose" > <span style=" width:100% ">Розгорнути / Згорнути </span> </a> </div>  <div id="Specialist_2Short" class="divTxtShown"> <div style="padding:20px">            <p align="center" style="font:  'Times New Roman'; font-size:15px "> <b>ВИМОГИ ДО ОФОРМЛЕННЯ<br>ДИПЛОМНОГО ПРОЕКТУ СПЕЦІАЛІСТА<br>(програмна розробка)</b> </p> </div> </div>                <div id="Specialist_2Full" class="divTxtHidden"> <div style="padding:20px">  <div style="padding:25px"><i> <p align="right"> <a href="#textTop">Нагору </a> </p>          </i> </div>             <p align="center" style="font:  'Times New Roman'; font-size:18px "> <b>ВИМОГИ ДО ОФОРМЛЕННЯ<br>ДИПЛОМНОГО ПРОЕКТУ СПЕЦІАЛІСТА<br>(програмна розробка)</b> </p>			            <p align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Вимоги до обсягу ДПС:</b>						<ul>				<li>текстова частина – 80-100 стор.				</li>												<li>графічна частина – не менше 3 креслень та 3 плакатів				</li>			</ul>									</p>            <p align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Текстова частина ДПС оформлюється з дотриманням таких загальних правил:</b>						<ul>				<li>мова – українська				</li>												<li>формат аркушів – А4				</li>												<li>шрифт – Times New Roman 14 пунктів				</li>												<li>міжрядковий інтервал – 1,5 лінії				</li>												<li>параметри сторінки: ліве поле – 3 см, решта полів – 2 см				</li>												<li>нумерація сторінок (крім титульної сторінки) – у правому нижньому куті				</li>			</ul>									</p>            <br>            <br>            <p align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Документація ДПС включає такі елементи (наведені у порядку їх розташування у готовій зброшурованій роботі):</b>						<ol>				<li>Титульна сторінка (див.&nbsp;<a href="http://fpm.kpi.ua/archive/dir.do?sys_id=obj_15365">приклад</a>) <!-- - <FONT color=#b01717>оновлено</FONT> 				</li>												<li>Завдання на дипломне проектування (див. <a href="http://fpm.kpi.ua/archive/dir.do?sys_id=obj_15345">приклад</a>)				</li>												<li>Анотація – українською, російською та англійською мовами				</li>												<li>Відомість проекту				</li>												<li>Технічне завдання				</li>												<li>Пояснювальна записка				</li>								<li>Програма та методика тестування				</li>												<li>Керівництво користувача				</li>												<li>Керівництво системного програміста – якщо передбачено ТЗ				</li>												<li>Керівництво програміста – якщо передбачено ТЗ				</li>												<li>Опис мови – якщо передбачено ТЗ				</li>												<li>Список використаних літературних джерел				</li>												<li>Додатки				</li>			</ol>									</p>			<p>	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Приклад заповнення заяви про вибір теми ДПС знаходиться за цим <a href="http://fpm.kpi.ua/archive/dir.do?sys_id=obj_15346">посиланням</a>.</p><!--<p><font color="#b01717">	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Слідкуйте за оголошеннями деканату стосовно консультацій з охорони праці.</font></p><p><font color="#b01717">	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Номер та дата наказу будуть відомі на початку листопада 2016 р.</font></p><p>	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	<b>Рекомендована література:</b>		<ol>			<li>			<a href="http://www.fpm.kpi.ua/archive/dir.do?sys_id=obj_11728">			Дипломне проектування за напрямами підготовки ”Прикладна математика”, „Комп'ютерна інженерія”, „Програмна інженерія” [Текст] : навч.-метод. посіб. / Є.С. Сулема : за заг. ред. І.А. Дички — К. : НТУУ «КПІ», 2011. — 224 с. – Бібліогр. : с. 77 — 400 пр.			</a>			</li>						<li>				Положення про організацію дипломного проектування та державну атестацію студентів НТУУ “КПІ” [Текст] / уклад. В.Ю. Угольніков ; за заг. ред. Ю.І. Якименка. — К. : ВПК "Політехніка", 2006. — 84 с.			</li>						<li>				Положення про організацію навчального процесу в НТУУ “КПІ” [Текст] / уклад. Г.Б. Варламов, В.П. Головенкін, В.І. Тимофєєв, В.І. Шеховцов ; за заг. ред. Ю.І. Якименка. — К. : ІВЦ «Видавництво "Політехніка"», 2004. — 72 с.			</li>						<li>				Документація. Звіти у сфері науки і техніки. Структура і правила оформлення : ДСТУ 3008-95 [Текст]. — К. : Держстандарт України, 1998.			</li>						<li>				Межгосударственные стандарты. Единая система программной документации [Текст]. — М. : ИПК Издательство стандартов, 2001.			</li>						<li>				Единая система программной документации / Л. В. Афанасенко — М. : ИПК Издательство стандартов, 2001. — 164 с.			</li>						<li>				Леоненков, А.В. Самоучитель UML [Текст] / А.В. Леоненков. — СПб. : БХВ, 2007. — (2-е изд.). — 576 с. — ISBN 978-5-94157-878-8.			</li>						<li>				Рамбо, Дж.. UML 2.0. Объектно-ориентированное моделирование и разработка [Текст] / Дж. Рамбо, М. Блаха. — СПб. : Питер, 2007. — (2-е изд.). — 544 с. : ил. — ISBN 5-469-00814-2.			</li>						<li>				Бібліографічний запис. Бібліографічний опис. Загальні вимоги та правила складання [Текст] : (ГОСТ 7.1—2003, IDT) : ДСТУ ГОСТ 7.1:2006. — Чинний з 2007—07—01. — К. : Держспоживстандарт України, 2007. — ІІІ, 47 с. ; 29 см. — (Система стандартів з інформації, бібліографічної і видавничої справи ; Національний стандарт України).			</li>					</ol>	</p>  <div style="padding:25px"> <p align="right"> <i> <a href="#textTop">Нагору </a>                           </i>  </p>  </div>  </div>  </div>			  <br> <a name="Specialist_3"> </a> <div id="Specialist_3" class="divOpenClose" onClick="opencloseevent('Specialist_3');"> <a class="OpenClose" > <span style=" width:100% ">Розгорнути / Згорнути </span> </a> </div>  <div id="Specialist_3Short" class="divTxtShown"> <div style="padding:20px">            <p align="center" style="font:  'Times New Roman'; font-size:15px "> <b>ВИМОГИ ДО ОФОРМЛЕННЯ<br>ДИПЛОМНОГО ПРОЕКТУ СПЕЦІАЛІСТА<br>(програмно-апаратна або апаратна розробка)</b> </p> </div> </div>                <div id="Specialist_3Full" class="divTxtHidden"> <div style="padding:20px">  <div style="padding:25px"><i> <p align="right"> <a href="#textTop">Нагору </a> </p>          </i> </div>             <p align="center" style="font:  'Times New Roman'; font-size:18px "> <b>ВИМОГИ ДО ОФОРМЛЕННЯ<br>ДИПЛОМНОГО ПРОЕКТУ СПЕЦІАЛІСТА<br>(програмно-апаратна або апаратна розробка)</b> </p>			            <p align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Вимоги до обсягу ДПС:</b>						<ul>				<li>текстова частина – 80-100 стор.				</li>												<li>графічна частина – не менше 4 креслень				</li>			</ul>									</p>            <p align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Текстова частина ДПС оформлюється з дотриманням таких загальних правил:</b>						<ul>				<li>мова – українська				</li>												<li>формат аркушів – А4				</li>												<li>шрифт – Times New Roman 14 пунктів				</li>												<li>міжрядковий інтервал – 1,5 лінії				</li>			</ul>									</p>            <p align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>Всі аркуші пояснювальної записки дипломного проекту мають містити основний напис (так звану «рамку» або «штамп») – бланки знаходяться за цим <a href="http://www.fpm.kpi.ua/archive/dir.do?sys_id=obj_11712">посиланням</a>.</i>            <br>            <br>            <p align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Документація ДПС включає такі елементи (наведені у порядку їх розташування у готовій зброшурованій роботі):</b>						<ol>				<li>Титульна сторінка (див.&nbsp;<a href="http://fpm.kpi.ua/archive/dir.do?sys_id=obj_15366">приклад</a>) <!-- - <FONT color=#b01717>оновлено</FONT> 				</li>												<li>Завдання на дипломне проектування (див. <a href="http://fpm.kpi.ua/archive/dir.do?sys_id=obj_15348">приклад</a>)				</li>												<li>Анотація – українською, англійською та російською мовами				</li>												<li>Опис альбому				</li>												<li>Технічне завдання				</li>												<li>Відомість технічного проекту				</li>												<li>Пояснювальна записка з додатками				</li>			</ol>									</p>			 <p>	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Приклад заповнення заяви про вибір теми ДПС знаходиться за цим <a href="http://fpm.kpi.ua/archive/dir.do?sys_id=obj_15349">посиланням</a>.</p><!--<p><font color="#b01717">	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Слідкуйте за оголошеннями деканату стосовно консультацій з охорони праці.</font></p><p><font color="#b01717">	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Номер та дата наказу будуть відомі на початку листопада 2016 р.</font></p><p>	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	<b>Рекомендована література:</b>		<ol>			<li>			<a href="http://www.fpm.kpi.ua/archive/dir.do?sys_id=obj_11728">			Дипломне проектування за напрямами підготовки ”Прикладна математика”, „Комп'ютерна інженерія”, „Програмна інженерія” [Текст] : навч.-метод. посіб. / Є.С. Сулема : за заг. ред. І.А. Дички — К. : НТУУ «КПІ», 2011. — 224 с. – Бібліогр. : с. 77 — 400 пр.			</a>			</li>						<li>				Положення про організацію дипломного проектування та державну атестацію студентів НТУУ “КПІ” [Текст] / уклад. В.Ю. Угольніков ; за заг. ред. Ю.І. Якименка. — К. : ВПК "Політехніка", 2006. — 84 с.			</li>						<li>				Положення про організацію навчального процесу в НТУУ “КПІ” [Текст] / уклад. Г.Б. Варламов, В.П. Головенкін, В.І. Тимофєєв, В.І. Шеховцов ; за заг. ред. Ю.І. Якименка. — К. : ІВЦ «Видавництво "Політехніка"», 2004. — 72 с.			</li>						<li>				Межгосударственные стандарты. Единая система конструкторской документации [Текст]. — М. : Стандартинформ, 2009.			</li>						<li>				Борушек, С.С. Единая система конструкторской документации [Текст] / С.С. Борушек, А.А. Волков, М.М. Ефимова [и др.]. — М. : изд-во стандартов, 1989. — 352 с.			</li>						<li>				Усатенко, С.Т. Выполнение электрических схем по ЕСКД [Текст] / С.Т. Усатенко, Т.К. Каченюк, М.В. Терехова.  — М. : изд-во стандар-тов, 1989. — 325 с.			</li>						<li>				Бібліографічний запис. Бібліографічний опис. Загальні вимоги та правила складання [Текст] : (ГОСТ 7.1—2003, IDT) : ДСТУ ГОСТ 7.1:2006. — Чинний з 2007—07—01. — К. : Держспоживстандарт України, 2007. — ІІІ, 47 с. ; 29 см. — (Система стандартів з інформації, бібліографічної і видавничої справи ; Національний стандарт України).			</li>					</ol>	</p>  <div style="padding:25px"> <p align="right"> <i> <a href="#textTop">Нагору </a>                           </i>  </p>   </div>  </div>  </div> -->
        <br/> <a name="German"> </a>
        <!-- /////////////////////ВИМОГИ ДО ОФОРМЛЕННЯ МАГIСТРЕСЬКОЇ ДИСЕРТАЦIЇ (освітньо-професійна програма) /////////////////// -->
        <div id="German" class="divOpenClose" onclick="opencloseevent('German');"><a class="OpenClose"> <span
                style=" width:100% ">Розгорнути / Згорнути </span> </a></div>
        <div id="GermanShort" class="divTxtShown">
            <div style="padding:20px">
                <p style="font-family:  'Times New Roman'; font-size:15px " align="center">
                    <strong>ВИМОГИ ДО ОФОРМЛЕННЯ<br/>МАГIСТРЕСЬКОЇ ДИСЕРТАЦIЇ<br/>(освітньо-професійна програма)
                    </strong></p>
            </div>
        </div>
        <div id="GermanFull" class="divTxtHidden">
            <div style="padding:20px">
                <div style="padding:25px"><em>
                    <p align="right"><a href="#textTop">Нагору </a></p>
                </em></div>
                <p style="font-family:  'Times New Roman'; font-size:18px " align="center">
                    <strong>ВИМОГИ ДО ОФОРМЛЕННЯ<br/>МАГIСТРЕСЬКОЇ ДИСЕРТАЦІЇ<br/>(освітньо-професійна програма)
                    </strong></p>
                <p align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Вимоги до
                    обсягу МД:</strong></p>
                <ul>
                    <li>текстова частина &ndash; 80-100 стор.</li>
                    <li>графічна частина &ndash; плакати за необхідності</li>
                </ul>
                <p>&nbsp;</p>
                <p align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Текстова
                    частина МД оформлюється з дотриманням таких загальних правил:</strong></p>
                <ul>
                    <li>мова &ndash; українська</li>
                    <li>формат аркушів &ndash; А4</li>
                    <li>шрифт &ndash; Times New Roman 14 пунктів</li>
                    <li>міжрядковий інтервал &ndash; 1,5 лінії</li>
                    <li>параметри сторінки: ліве поле &ndash; 3 см, решта полів &ndash; 2 см</li>
                    <li>нумерація сторінок (крім титульного аркуша) &ndash; у правому нижньому куті</li>
                </ul>
                <p>&nbsp;</p>
                <p align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Документація
                    МД включає такі елементи (наведені у порядку їх розташування у готовій зброшурованій
                    роботі):</strong></p>
                <ol>
                    <li>Титульна сторінка (див.&nbsp;<a
                            href="http://www.fpm.kpi.ua/archive/dir.do?sys_id=obj_16746">приклад</a>)
                        <!-- - <FONT color=#b01717>оновлено</FONT> -->                     </li>
                    <li>Завдання на виконання випускної дипломної роботи (див.&nbsp;<a
                            href="http://www.fpm.kpi.ua/archive/dir.do?sys_id=obj_16747">приклад</a>)
                    </li>
                    <li>Реферат &ndash; українською, англійською та російською мовами &nbsp;(див.&nbsp;<a
                            href="http://fpm.kpi.ua/archive/dir.do?sys_id=obj_14236">приклад</a>)
                    </li>
                    <li>Зміст</li>
                    <li>Список термінів, скорочень та позначень</li>
                    <li>Вступ</li>
                    <li>Основна частина</li>
                    <li>Висновки</li>
                    <li>Список використаних літературних джерел</li>
                    <li>Додатки</li>
                </ol>
                <p>&nbsp;</p>
                <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>Бланки індивідуального
                    плану магістерської підготовки:</strong></p>
                <ul>
                    <li>для <a href="http://www.fpm.kpi.ua/archive/dir.do?sys_id=obj_16291">денної форми навчання</a>,
                    </li>
                    <li>для <a href="http://www.fpm.kpi.ua/archive/dir.do?sys_id=obj_16292">заочної форми навчання</a>.
                    </li>
                </ul>
                <p>&nbsp;</p>
                <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Зразок заповнення індивідуального
                    плану магістерської підготовки знаходиться за цим <a
                            href="http://www.fpm.kpi.ua/archive/dir.do?sys_id=obj_16293">посиланням</a>. </p>
                <!--<p><font color="#b01717">	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	Слідкуйте за оголошеннями деканату стосовно консультацій з охорони праці.</font></p>-->
                <p><font color="#b01717"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Номер та
                    дата наказу будуть відомі у листопаді 2020 р. </font></p>
                <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>Рекомендована
                    література:</strong></p>
                <ol>
                    <li><a href="http://www.fpm.kpi.ua/archive/dir.do?sys_id=obj_11728"> Дипломне проектування за
                        напрямами підготовки &rdquo;Прикладна математика&rdquo;, &bdquo;Комп&rsquo;ютерна інженерія&rdquo;,
                        &bdquo;Програмна інженерія&rdquo; [Текст] : навч.-метод. посіб. / Є.С. Сулема : за заг. ред.
                        І.А. Дички &mdash; К. : НТУУ &laquo;КПІ&raquo;, 2011. &mdash; 224 с. &ndash; Бібліогр. : с. 77
                        &mdash; 400 пр. </a></li>
                    <li> Положення про організацію дипломного проектування та державну атестацію студентів НТУУ &ldquo;КПІ&rdquo;
                        [Текст] / уклад. В.Ю. Угольніков ; за заг. ред. Ю.І. Якименка. &mdash; К. : ВПК &quot;Політехніка&quot;,
                        2006. &mdash; 84 с.
                    </li>
                    <li> Положення про організацію навчального процесу в НТУУ &ldquo;КПІ&rdquo; [Текст] / уклад. Г.Б.
                        Варламов, В.П. Головенкін, В.І. Тимофєєв, В.І. Шеховцов ; за заг. ред. Ю.І. Якименка. &mdash; К.
                        : ІВЦ &laquo;Видавництво &quot;Політехніка&quot;&raquo;, 2004. &mdash; 72 с.
                    </li>
                    <li> Положення про магістратуру НТУУ &ldquo;КПІ&rdquo; [Текст] / уклад. В.П. Головенкін; за заг.
                        ред. Ю.І. Якименка &mdash; К. : ВПК &quot;Політехніка&quot;, 2007. &mdash; 36 с.
                    </li>
                    <li> Документація. Звіти у сфері науки і техніки. Структура і правила оформлення : ДСТУ 3008-95
                        [Текст]. &mdash; К. : Держстандарт України, 1998.
                    </li>
                    <li> Основні вимоги до дисертацій та авторефератів дисертацій [Текст] // Бюлетень ВАК України.
                        &mdash; 2007. &mdash; № 6. &mdash; С. 9-17.
                    </li>
                    <li> Рекомендації щодо змісту і структури магістерських дисертацій / уклад. В.П. Головенкін ; за
                        заг. ред. Ю.І. Якименка &mdash; К. : ВПК &laquo;Політехніка&raquo;, 2010. &mdash; 28 с.
                    </li>
                    <li> Пономаренко, Л.А. Як підготувати і захистити дисертацію на здобуття наукового ступеня.
                        Методичні поради [Текст] / Л.А. Пономаренко. &mdash; К. : Редакція &laquo;Бюлетеня Вищої
                        атестаційної комісії України&raquo; ; Видавництво &laquo;Толока&raquo;, 2001. &mdash; 80 с.
                        &mdash; ISBN 966-7396-08-8.
                    </li>
                    <li> Ашеров, А.Т. Подготовка, экспертиза и защита диссертаций [Текст] : учебное пособие для
                        магистров, аспирантов и соискателей всех специальностей / А.Т. Ашеров. &mdash; Харьков : УИПА,
                        2002. &mdash; 135 с. &mdash; ISBN 966-8004-08-6.
                    </li>
                    <li> UDC Summary [Електронний ресурс] // UDC Consortium. &mdash; Режим доступу :
                        http://www.udcc.org/udcsummary/php/index.php. &mdash; Дата доступу : травень 2011. &mdash; Назва
                        з екрана.
                    </li>
                    <li> Бібліографічний запис. Бібліографічний опис. Загальні вимоги та правила складання [Текст] :
                        (ГОСТ 7.1&mdash;2003, IDT) : ДСТУ ГОСТ 7.1:2006. &mdash; Чинний з 2007&mdash;07&mdash;01.
                        &mdash; К. : Держспоживстандарт України, 2007. &mdash; ІІІ, 47 с. ; 29 см. &mdash; (Система
                        стандартів з інформації, бібліографічної і видавничої справи ; Національний стандарт України).
                    </li>
                </ol>
                <p>&nbsp;</p>
                <div style="padding:25px">
                    <p align="right"><em> <a href="#textTop">Нагору </a> </em></p>
                </div>
            </div>
        </div>
        <br/> <!-- //////////////////////////////////////// -->
        <!-- /////////////////////ВИМОГИ ДО ОФОРМЛЕННЯ МАГIСТРЕСЬКОЇ ДИСЕРТАЦIЇ (освітньо-наукова програма) /////////////////// -->
        <div id="German2" class="divOpenClose" onclick="opencloseevent('German2');"><a class="OpenClose"> <span
                style=" width:100% ">Розгорнути / Згорнути </span> </a></div>
        <div id="German2Short" class="divTxtShown">
            <div style="padding:20px">
                <p style="font-family:  'Times New Roman'; font-size:15px " align="center">
                    <strong>ВИМОГИ ДО ОФОРМЛЕННЯ<br/>МАГIСТРЕСЬКОЇ ДИСЕРТАЦIЇ<br/>(освітньо-наукова програма) </strong>
                </p>
            </div>
        </div>
        <div id="German2Full" class="divTxtHidden">
            <div style="padding:20px">
                <div style="padding:25px"><em>
                    <p align="right"><a href="#textTop">Нагору </a></p>
                </em></div>
                <p style="font-family:  'Times New Roman'; font-size:18px " align="center">
                    <strong>ВИМОГИ ДО ОФОРМЛЕННЯ<br/>МАГIСТРЕСЬКОЇ ДИСЕРТАЦІЇ<br/>(освітньо-наукова програма) </strong>
                </p>
                <p align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Вимоги до
                    обсягу МД:</strong></p>
                <ul>
                    <li>текстова частина &ndash; 80-100 стор.</li>
                    <li>графічна частина &ndash; плакати за необхідності</li>
                </ul>
                <p>&nbsp;</p>
                <p align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Текстова
                    частина МД оформлюється з дотриманням таких загальних правил:</strong></p>
                <ul>
                    <li>мова &ndash; українська</li>
                    <li>формат аркушів &ndash; А4</li>
                    <li>шрифт &ndash; Times New Roman 14 пунктів</li>
                    <li>міжрядковий інтервал &ndash; 1,5 лінії</li>
                    <li>параметри сторінки: ліве поле &ndash; 3 см, решта полів &ndash; 2 см</li>
                    <li>нумерація сторінок (крім титульного аркуша) &ndash; у правому нижньому куті</li>
                </ul>
                <p>&nbsp;</p>
                <p align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Документація
                    МД включає такі елементи (наведені у порядку їх розташування у готовій зброшурованій
                    роботі):</strong></p>
                <ol>
                    <li>Титульна сторінка (див.&nbsp;<a
                            href="http://www.fpm.kpi.ua/archive/dir.do?sys_id=obj_16748">приклад</a>)
                        <!-- - <FONT color=#b01717>оновлено</FONT> -->                     </li>
                    <li>Завдання на виконання випускної дипломної роботи (див.&nbsp;<a
                            href="http://www.fpm.kpi.ua/archive/dir.do?sys_id=obj_16749">приклад</a>)
                    </li>
                    <li>Реферат &ndash; українською, англійською та російською мовами &nbsp;(див.&nbsp;<a
                            href="http://fpm.kpi.ua/archive/dir.do?sys_id=obj_14236">приклад</a>)
                    </li>
                    <li>Зміст</li>
                    <li>Список термінів, скорочень та позначень</li>
                    <li>Вступ</li>
                    <li>Основна частина</li>
                    <li>Висновки</li>
                    <li>Список використаних літературних джерел</li>
                    <li>Додатки</li>
                </ol>
                <p>&nbsp;</p>
                <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>Бланки індивідуального
                    плану магістерської підготовки:</strong></p>
                <ul>
                    <li>для <a href="http://www.fpm.kpi.ua/archive/dir.do?sys_id=obj_16291">денної форми навчання</a>,
                    </li>
                    <li>для <a href="http://www.fpm.kpi.ua/archive/dir.do?sys_id=obj_16292">заочної форми навчання</a>.
                    </li>
                </ul>
                <p>&nbsp;</p>
                <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Зразок заповнення індивідуального
                    плану магістерської підготовки знаходиться за цим <a
                            href="http://www.fpm.kpi.ua/archive/dir.do?sys_id=obj_16293">посиланням</a>. </p>
                <!--<p><font color="#b01717">	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	Слідкуйте за оголошеннями деканату стосовно консультацій з охорони праці.</font></p>-->
                <p><font color="#b01717"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Номер та
                    дата наказу будуть відомі на початку квітня 2020 р. </font></p>
                <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>Рекомендована
                    література:</strong></p>
                <ol>
                    <li><a href="http://www.fpm.kpi.ua/archive/dir.do?sys_id=obj_11728"> Дипломне проектування за
                        напрямами підготовки &rdquo;Прикладна математика&rdquo;, &bdquo;Комп&rsquo;ютерна інженерія&rdquo;,
                        &bdquo;Програмна інженерія&rdquo; [Текст] : навч.-метод. посіб. / Є.С. Сулема : за заг. ред.
                        І.А. Дички &mdash; К. : НТУУ &laquo;КПІ&raquo;, 2011. &mdash; 224 с. &ndash; Бібліогр. : с. 77
                        &mdash; 400 пр. </a></li>
                    <li> Положення про організацію дипломного проектування та державну атестацію студентів НТУУ &ldquo;КПІ&rdquo;
                        [Текст] / уклад. В.Ю. Угольніков ; за заг. ред. Ю.І. Якименка. &mdash; К. : ВПК &quot;Політехніка&quot;,
                        2006. &mdash; 84 с.
                    </li>
                    <li> Положення про організацію навчального процесу в НТУУ &ldquo;КПІ&rdquo; [Текст] / уклад. Г.Б.
                        Варламов, В.П. Головенкін, В.І. Тимофєєв, В.І. Шеховцов ; за заг. ред. Ю.І. Якименка. &mdash; К.
                        : ІВЦ &laquo;Видавництво &quot;Політехніка&quot;&raquo;, 2004. &mdash; 72 с.
                    </li>
                    <li> Положення про магістратуру НТУУ &ldquo;КПІ&rdquo; [Текст] / уклад. В.П. Головенкін; за заг.
                        ред. Ю.І. Якименка &mdash; К. : ВПК &quot;Політехніка&quot;, 2007. &mdash; 36 с.
                    </li>
                    <li> Документація. Звіти у сфері науки і техніки. Структура і правила оформлення : ДСТУ 3008-95
                        [Текст]. &mdash; К. : Держстандарт України, 1998.
                    </li>
                    <li> Основні вимоги до дисертацій та авторефератів дисертацій [Текст] // Бюлетень ВАК України.
                        &mdash; 2007. &mdash; № 6. &mdash; С. 9-17.
                    </li>
                    <li> Рекомендації щодо змісту і структури магістерських дисертацій / уклад. В.П. Головенкін ; за
                        заг. ред. Ю.І. Якименка &mdash; К. : ВПК &laquo;Політехніка&raquo;, 2010. &mdash; 28 с.
                    </li>
                    <li> Пономаренко, Л.А. Як підготувати і захистити дисертацію на здобуття наукового ступеня.
                        Методичні поради [Текст] / Л.А. Пономаренко. &mdash; К. : Редакція &laquo;Бюлетеня Вищої
                        атестаційної комісії України&raquo; ; Видавництво &laquo;Толока&raquo;, 2001. &mdash; 80 с.
                        &mdash; ISBN 966-7396-08-8.
                    </li>
                    <li> Ашеров, А.Т. Подготовка, экспертиза и защита диссертаций [Текст] : учебное пособие для
                        магистров, аспирантов и соискателей всех специальностей / А.Т. Ашеров. &mdash; Харьков : УИПА,
                        2002. &mdash; 135 с. &mdash; ISBN 966-8004-08-6.
                    </li>
                    <li> UDC Summary [Електронний ресурс] // UDC Consortium. &mdash; Режим доступу :
                        http://www.udcc.org/udcsummary/php/index.php. &mdash; Дата доступу : травень 2011. &mdash; Назва
                        з екрана.
                    </li>
                    <li> Бібліографічний запис. Бібліографічний опис. Загальні вимоги та правила складання [Текст] :
                        (ГОСТ 7.1&mdash;2003, IDT) : ДСТУ ГОСТ 7.1:2006. &mdash; Чинний з 2007&mdash;07&mdash;01.
                        &mdash; К. : Держспоживстандарт України, 2007. &mdash; ІІІ, 47 с. ; 29 см. &mdash; (Система
                        стандартів з інформації, бібліографічної і видавничої справи ; Національний стандарт України).
                    </li>
                </ol>
                <p>&nbsp;</p>
                <div style="padding:25px">
                    <p align="right"><em> <a href="#textTop">Нагору </a> </em></p>
                </div>
            </div>
        </div>
        <!-- //////////////////////////////////////// -->
        <!-- ДЕРЖАВНА АТЕСТАЦІЯ<br />    <a name="cyfra">  </a><div id="cyfra" class="divOpenClose" onclick="opencloseevent('cyfra');">  <a class="OpenClose">  <span style=" width:100% ">Розгорнути / Згорнути  </span>  </a>   </div><div id="cyfraShort" class="divTxtShown"><div style="padding:20px"><p style="font:  'Times New Roman'; font-size:15px " align="center"> <b>ДЕРЖАВНА АТЕСТАЦIЯ </b> </p></div></div><div id="cyfraFull" class="divTxtHidden"><div style="padding:20px"><div style="padding:25px"><p align="right">  <i>  <a href="#textTop">Нагору  </a>                            </i>   </p></div><br /><p style="font:  'Times New Roman'; font-size:18px " align="center"> <b>ДЕРЖАВНА АТЕСТАЦIЯ </b> </p><table style="FONT-SIZE: 12pt; COLOR: #041347" width="90%" align="center">    <tbody>        <tr>            <td style="FONT-SIZE: 12pt; COLOR: #041347; FONT-FAMILY: Georgia" valign="top">            <p>&nbsp;&nbsp;&nbsp;  Метою державної атестації студента є визначення фактичної відповідності його підготовки вимогам освітньо-кваліфікаційної характеристики. Державна атестація здійснюється <b>державною екзаменаційною комісією</b> (ДЕК) після завершення навчання на певному освітньо-кваліфікаційному рівні. ДЕК оцінює рівень науково-теоретичної і практичної підготовки випускників, вирішує питання про здобуття певного освітнього рівня, присвоєння відповідної кваліфікації та видачу документа про вищу освіту. </p>            <p>&nbsp;&nbsp;&nbsp;  Державна атестація проводиться у формі захисту дипломного проекту (роботи).</p>            <p> &nbsp;&nbsp;&nbsp;Вимоги до змісту дипломних проектів (робіт) визначає випускова кафедра з урахуванням вимог освітньо-кваліфікаційної характеристики (ОКХ), рекомендацій Методичної ради університету, Науково-методичної комісії Міністерства освіти і науки України за відповідним напрямом підготовки. </p>            <p> &nbsp;&nbsp;&nbsp;<i>До державної атестації допускаються студенти, які успішно виконали всі вимоги навчального плану зі спеціальності відповідного освітньо-кваліфікаційного рівня та не мають академічної заборгованості. </i></p>            <p> &nbsp;&nbsp;&nbsp;Виконання дипломних проектів (робіт) є заключним етапом навчання студентів за відповідною програмою підготовки і має на меті систематизування, закріплення й розширення теоретичних знань, вмінь і навичок, визначення спроможності їх практичного застосування у вирішенні професійних завдань, що передбачені для первинних посад відповідно до вимог ОКХ. </p>            <p> &nbsp;&nbsp;&nbsp;Теми дипломних проектів (робіт) щорічно розробляються та обговорюються на випускових кафедрах, розглядаються Вченою радою факультету і затверджуються деканом. </p>            <p> &nbsp;&nbsp;&nbsp;Студентам надається <b>право вибирати тему дипломного проекту</b> <b>(роботи) з переліку</b>, визначеного випусковою кафедрою, або <b>пропонувати свою з обґрунтуванням доцільності її розробки. </b></p>            <p> &nbsp;&nbsp;&nbsp;Підготовка дипломних проектів (робіт) проводиться студентами в навчальному закладі або на підприємствах та в організаціях, що зацікавлені в цій роботі. За місцем виконання дипломного проекту (роботи), студенту надається робоче місце, а також обладнання, необхідне для виконання проекту (роботи), проведення експерименту та ін. </p>            <p> &nbsp;&nbsp;&nbsp;До захисту дипломних проектів (робіт) допускаються студенти, які виконали роботу, одержали на неї позитивний відзив керівника (наукового керівника), рецензію та візу завідувача кафедри про допуск до захисту. </p>            <p> &nbsp;&nbsp;&nbsp;У разі, якщо керівник (науковий керівник) або завідувач кафедри не вважають за можливе допустити студента до захисту, це питання розглядається на засіданні кафедри за участю керівника. </p>            <p> &nbsp;&nbsp;&nbsp;Списки студентів, допущених до державної атестації, затверджуються деканом і подаються в ДЕК. </p>            <p> &nbsp;&nbsp;&nbsp;Робота державних комісій проводиться в терміни, передбачені графіком навчального процесу. Розклад засідань державної комісії, узгоджений з головою комісії, затверджується першим проректором на підставі подання декана і доводиться до загального відома не пізніше, ніж за місяць до початку захисту дипломних проектів (робіт). </p>            <p>&nbsp;</p>            <p> &nbsp;&nbsp;&nbsp;<b>Крім дипломних проектів (робіт), які плануються до захисту на даному засіданні ДЕК, до державної комісії деканатом подаються такі документи:</b> </p>            <ul>                <li>зведена відомість про виконання студентами навчального плану і отримані ними оцінки з теоретичних дисциплін, курсових проектів і робіт, а також переддипломної практики. За наявності декількох семестрових екзаменаційних оцінок з однієї дисципліни до зведеної відомості заноситься підсумкова <i></i>(середня зважена відносно розподілу по семестрах навчальних годин дисципліни) оцінка з округленням її до найближчого цілого значення; </li>                <li>завірена залікова книжка студента;</li>                <li>рецензія на дипломний проект (роботу);</li>                <li>інші матеріали, що свідчать про наукову і практичну цінність роботи &ndash; друковані статті за темою проекту (роботи), патентні документи, документи, які вказують на практичне застосування проекту (роботи), макети, зразки матеріалів, виробів тощо.</li>            </ul>            <p> &nbsp;&nbsp;&nbsp;Захист атестаційних робіт може проводитися як в університеті, так і на підприємствах, у закладах та організаціях, для яких тематика проектів (робіт), що захищаються, має науково-теоретичний або практичний інтерес.</p>            <p> &nbsp;&nbsp;&nbsp;<b>Результати захисту дипломного проекту (роботи) визначаються оцінками &bdquo;відмінно&rdquo;, &bdquo;добре&rdquo;, &bdquo;задовільно&rdquo;, &ldquo;незадовільно&rdquo;.</b> Рішення державної комісії про оцінювання рівня підготовки студентів, а також про присвоєння студентам-випускникам кваліфікації та видачу їм державних документів про вищу освіту приймається державною комісією на закритому засіданні відкритим голосуванням звичайною більшістю голосів членів комісії, які брали участь у засіданні. При однаковій кількості голосів голос голови є вирішальним. </p>            <p> &nbsp;&nbsp;&nbsp;<i>Студенту, який успішно захистив дипломний проект (роботу), рішенням державної комісії присвоюється відповідна кваліфікація і видається державний документ про освіту.</i></p>            <p> &nbsp;&nbsp;&nbsp;Документ про вищу освіту з відзнакою видається студенту, який отримав підсумкові оцінки &ldquo;відмінно&rdquo; не менше як з 75&nbsp;% усіх навчальних дисциплін та індивідуальних завдань, передбачених навчальним планом за весь термін навчання (бакалавр, бакалавр&ndash;спеціаліст), а з інших навчальних дисциплін та курсових проектів (робіт) і практик &ndash; оцінки &ldquo;добре&rdquo;, а також захистив дипломний проект (роботу) з оцінкою &ldquo;відмінно&rdquo;. 	</p>            <p> &nbsp;&nbsp;&nbsp;<b>Результати захисту дипломних проектів (робіт) оголошуються в день його проведення після оформлення протоколу засідання державної комісії.</b></p>            <p> &nbsp;&nbsp;&nbsp;Студент, який не захистив дипломний проект (роботу) або не з&rsquo;явився на захист поважних причин, відраховується з вищого навчального закладу як такий, що виконав навчальний план, але не пройшов державної атестації.</p>            <p> &nbsp;&nbsp;&nbsp;Студентам, які не захищали дипломний проект (роботу) з поважної, документально підтвердженої причини, ректором може бути перенесений термін захисту дипломного проекту (роботи) до наступної державної атестації, але не більше, ніж на один календарний рік. </p>            <p> &nbsp;&nbsp;&nbsp;Якщо студент не захистив дипломний проект (роботу), державна комісія встановлює, чи може він повторно захищати той самий дипломний проект (роботу) або він зобов&rsquo;язаний підготувати новий. <b>Повторний захист дозволяється тільки під час наступної державної атестації протягом трьох років після закінчення вищого закладу освіти.</b></p>            </td>        </tr>    </tbody></table><div style="padding:25px"><p align="right">  <i>  <a href="#textTop">Нагору  </a>                            </i>   </p></div></div></div></font></div>-->
    </font></div>